<style>
  #me{
    display:table;
    position:relative;
    margin:40px auto;
    margin-bottom:35px;
  }
</style>
<div id='container'>
  <span class='date'> </span>
  <div class='article hyphenate'>
    <h1 class='donthyphenate'>About me</h1>
    <img src='images/me.jpg' id='me'/>
    <p>
      I'm a web developer who loves to code. Ruby is my weapon
      of choice, though I'm happy in almost any dynamic language.
    </p><p>
      I actually majored in mechanical engineering, but taught myself
      programming on the side for a few years. I can do front end stuff
      too, but I'm not really a designer.
    </p><p>
      Get in touch: <a href='mailto:ehsanul@ehsanul.com'>ehsanul@ehsanul.com</a>
    <br/>
      Twitter: <a href='http://twitter.com/ehoque'>@ehoque</a>
    </p><p>
    </p>
  </div>
  <span class='full'> </span>
</div>

