<script type='text/javascript'>
  var nav = document.getElementById('header');
  for(var i=0; i<nav.childNodes.length; i++){
    if (nav.childNodes[i].tagName === 'A'){
      nav.removeChild(nav.childNodes[i]);
      i--;
    }
  }
</script>
<div id='showcase-container' class='clearfix'>
  <a href='/projects'><div>
    <img src='/images/projects.jpg'/>
    <p>Projects</p>
  </div></a>
  <a href='http://github.com/ehsanul'><div>
    <img src='/images/code.jpg'/>
    <p>Code</p>
  </div></a>
  <a href='/blog'><div>
    <img src='/images/blog.jpg'/>
    <p>Blog</p>
  </div></a>
  <a href='/about'><div>
    <img src='/images/about.jpg'/>
    <p>About</p>
  </div></a>
</div>
