<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <base href='/'/>
  <link rel="stylesheet" type="text/css" href="css/reset.css"/>
  <link rel="stylesheet" type="text/css" href="css/main.css"/>
  <script type="text/javascript" src="js/hyphenate.js"></script>
  <title><%= "#{@title + " -" if @title} Ehsanul Hoque" %></title>
</head>
<body>
  <div id='header'>
    <h1>Ehsanul Hoque</h1>
    <div><a href="/resume">Hire Me</a></div>
    <a href='/'>Home</a> 
    <a href='/blog'>Blog</a> 
    <a href='/about'>About</a>
  </div>
  <hr/>
  <%= yield %>
  <div id='footer'>
    <hr/>
    <img src='images/copyleft.png'/>
    <span>Copyleft 2011&#8211;&#8734; Ehsanul Hoque</span>
    <a href='/'>Home</a> 
    <a href='/blog'>Blog</a> 
    <a href='/about'>About</a>
    <hr/>
  </div>
</body>
</html>
