<div id='container'>
  <span class='date'> </span>
  <div class='article hyphenate'>
    <h1>Projects</h1>
    <h2>Jellly</h2>
    <p>
      The idea behind Jellly is to give people access to relevant content
      with a single click. Jellly figures out, given the context of the
      web content you're currently viewing, what other relevant content
      might interest you.
    </p><p>
      Think of it like Amazon's recommendations, or YouTube's related videos, 
      but extended to the whole web. It's in its early stages yet, but we
      have a bookmarklet and Firefox addon in the works.
    </p><p>
      Sign up for the beta here: <a href='http://jellly.com/'>http://jellly.com/</a>
    </p>
    <h2>Xarkon</h2>
    <p>
      Xarkon is a web-based, real-time MMO game I've been working on recently for fun.
      I'm writing all the game components myself, including collision detection,
      simple physics engine, rendering engine, etc.
      It's written using node.js and socket.io for web sockets.
    </p><p>
      It's just a big hack now and is undergoing a big rewrite in CoffeeScript,
      with a better architecture. You can still play the first version, made into
      a playable mini-game. Requires Chrome and a friend or two on separate computers.
    </p><p>
      Play here: <a href='http://xarkon.com/spaceball.html'>Spaceball</a>
      <br/>
      Github: <a href='https://github.com/ehsanul/xarkon'>github.com/ehsanul/xarkon</a>
    </p>
  </div>
  <span class='full'> </span>
</div>
