 /* A font by Jos Buivenga (exljbris) -> http://www.exljbris.com */
@font-face {
	font-family: 'CallunaRegular';
	src: url('../fonts/calluna-regular-webfont.eot');
	src: local('☺'), url('../fonts/calluna-regular-webfont.woff') format('woff'), url('../fonts/calluna-regular-webfont.ttf') format('truetype'), url('../fonts/calluna-regular-webfont.svg#webfontPEDGOs9U') format('svg');
	font-weight: normal;
	font-style: normal;
}

body{
  font-family: verdana, arial, helvetica, sans-serif;
  color: #333;
  background-color:#fff;
}

hr{
  width: 650px;
  display:block;
  border-top: 1px solid #aaa;
}

p{
  font-size: 19px;
  line-height: 1.6;
  text-align: justify;
  margin-bottom: 16px;
  padding-bottom: 6px;
}

a:link {
  color:#222;
  text-decoration: none;
}
a:visited {
  color:#333;
}
a:hover {
  text-decoration: underline;
}

p a:link {
  text-decoration: underline;
}
p a:hover {
  color:#555;
}

#header{
  text-align: center;
  margin-top:40px;
  margin-bottom:50px;
  font-variant: small-caps;
}
#footer{
  text-align: center;
  margin-top:10px;
  margin-bottom:10px;
  color:#444;
}
#header > a:link{ text-decoration: none; }
#header > a:hover{ text-decoration: underline; }
#header > a { font-size: 24px; margin:10px; color:#222; }
#header div { margin-bottom: 10px; }
#header div a {
  font-family: Georgia;
  font-size: 36px;
  text-decoration: underline;
}
#footer a { font-size: 18px; margin:10px; color:#666;
            font-variant: small-caps;}
#footer span{ font-size: 16px; margin-right:30px; }

#header h1{
  font-family: Georgia, serif;
  font-weight:100;
  font-size: 54px;
  letter-spacing: 4px;
  margin-bottom:15px;
  color:#222;
}

.date{
  font-family: 'CallunaRegular', georgia, 'lucida grande', helvetica, sans-serif;
  font-style:italic;
  color:#777;
}

#container, #showcase-container{
  width: 650px;
  margin: 10px auto;
  padding:10px;
  padding-bottom:0;
  margin-bottom:0;
  padding-right: 50px;
  padding-left: 50px;
}

h1 a:visited {
  color:#222;
}

#showcase-container{
  width: 550px;
  padding-bottom:10px;
}

#showcase-container div{
  position:relative;
  width:40%;
  padding:0px;
  margin-right:5%;
  margin-left:5%;
  margin-bottom:10px;
  float:left;
}
#showcase-container div:hover{
  opacity: 0.9;
  cursor:pointer;
}

#showcase-container div *{
  position:relative;
  margin:5px auto;
  display:table;
}

.article{
  position:relative;
  width: 600px;
  margin: 0px auto;
  margin-bottom: 50px;
}

.article h1, h2{
  font-family: 'CallunaRegular', georgia, 'lucida grande', helvetica, sans-serif;
  font-style:normal;
  font-weight:100;
}

.article h2{
  margin-top: 28px;
  margin-bottom:24px;
  margin-left:0;
  font-size: 34px;
}

.article h1{
  text-align:center;
  width: 600px;
  margin: 10px auto;
  font-size: 44px;
  margin-bottom:25px;
}

.full a{
  font-family: 'CallunaRegular', georgia, 'lucida grande', helvetica, sans-serif;
  font-style:italic;
  margin-top: -28px;
  float: right;
  color: #777;
  /*text-decoration: underline;*/
}

#article-nav{ 
  height: 20px;
  padding: 20px;
  text-align:center;
  font-family: 'CallunaRegular', georgia, 'lucida grande', helvetica, sans-serif;
  font-size: 20px;
  font-style:italic;
  /*text-decoration: underline;*/
}
#article-nav a{ color:#444; }
#article-nav span{ margin: 10px; }

/* float clearing for IE6 */
* html .clearfix{
  height: 1%;
  overflow: visible;
}

/* float clearing for IE7 */
*+html .clearfix{
  min-height: 1%;
}

/* float clearing for everyone else */
.clearfix:after{
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0;
}
