body > * {
  width: 700px;
  margin: 30px auto;
}


header {
  display: table; /* clearfix alternative */
  padding-top: 10px;
}
h1, h2 { 
  font-variant: small-caps;
  letter-spacing: 2px;
}
h1 {
  float: left;
  font-size: 50px;
}
h1 a { color: #666; text-decoration: none; }
address {
  margin-top: 15px;
  text-align: right;
  float: right;
}

section { font-size: 18px }
section h2 {
  font-size: 24px;
  color: #f46e2b;
  margin-bottom: 10px;
}
section p{
  margin-top: 10px;
}
section a, header address a, footer a {
  color: #111;
  text-decoration: underline;
}
section a.detail {
  text-decoration: none;
  border-bottom: 1px dashed #555;
  border-left: 0px dashed #fff;
  -webkit-transition-property: border, color, margin, padding;
  -webkit-transition-duration: 0.15s;
  -moz-transition-property: border, color, margin, padding;
  -moz-transition-duration: 0.15s;
  -o-transition-property: border, color, margin, padding;
  -o-transition-duration: 0.15s;
  transition-property: border, color, margin, padding;
  transition-duration: 0.15s;
}
section a.detail-active {
  padding-left: 5px;
  margin-left: 5px;
  margin-right: 5px;
  border-left: 5px solid #ddd;
  border-bottom: 2px dashed #ddd;
  color: #333;
}
section a.detail-active.first-detail { margin-left: 0; }
section code {
  font-family: monospace;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
}


#details { display: none; }

#profile {
  font-size: 20px;
  margin-bottom:15px;
}
#profile p{ margin-bottom: 0px; }


table { margin-top: -10px; }
th, td { padding: 10px 10px 0 10px; }
th, td:first-child { white-space: nowrap; }
th {
  text-align: right;
  font-size: 20px;
  font-style: italic;
  line-height: 1.4;
}


ul.bulleted {
  text-indent: 0px;
  margin-top: 8px;
  margin-bottom: 5px;
  font-size: 17px;
  padding-left: 25px;
  list-style-type: disc;
}
ul.bulleted li { margin-top: 5px; }


div.detail {
  border-left: 5px solid #ddd;
  margin-top: 10px;
  margin-bottom: 15px;
  padding-left: 15px;
}
div.detail p{
  color: #444;
  margin-top: 0;
  margin-bottom: 15px;
}

div.detail a { color: inherit; }


footer { 
  border-top: 1px solid #ccc;
  margin-top: 40px;
  padding: 10px;
  padding-bottom: 0;
  font-size: 90%;
}
footer > div {
  display: table; /*force centering*/
  margin: 0 auto;
}
#downloads { padding: 10px; }
#downloads a { margin: 10px; }
#attribution {
  font-size: 90%;
  opacity: 0.85;
  line-height: 2.4;
  padding-top: 10px;
  padding-bottom: 10px;
}
#attribution > * { float: left; }
#attribution span { line-height:2.5 }
footer img { margin-right: 5px; vertical-align: middle; }


.nowrap{ white-space: nowrap; }


@media screen and (max-width: 800px) { 
  /* non-bulleted li's wrap uglily */
  ul li { padding-left: 20px; text-indent: -20px; }  
  /* undo above for bulleted */
  ul.bulleted li { padding-left: 0px; text-indent: 0px; }
  /* undo above for detail divs */
  ul li div.detail { margin-left: -20px; padding-left: 15px; text-indent: 0px; }
  ul.bulleted li div.detail { margin-left: 0px; }
  body > * { width: 650px; } 
}
@media screen and (max-width: 700px) {
  /*body > * { width: 560px; }*/
  body > * { width: 90%; } 
  h1 { font-size: 40px; }
}
@media screen and (max-width: 600px) {
  /*body > * { width: 450px; }*/
  h1, address { float: none; width: 100%; text-align: center; }
  address { margin-top: 0px; }
  th, td:first-child { white-space: normal; }
}
